.application-container {
	display: flex;
	flex-wrap: wrap;
}

.application-item-container {
	display: flex;
	justify-content: space-evenly;
	width: 40vh;
	height: 50vh;
	border: solid gainsboro 1px;
	background: #ffffff;
	align-items: center;
	margin: 20px;
}

.application-item-container ul {
	padding: 0;
}

.applications-count {
	background: green;
	color: #ffffff;
	width: 20px;
	border-radius: 5px;
}

@media (max-width: 992px) {
	.application-item-container {
		width: 30vh;
		height: 40vh;
		margin: 10px;
	}
}
