.App {
	font-family: monospace;
	margin: 10px;
	border: solid gainsboro 1px;
}

.app-container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
}

.nav-main-container {
	width: 100%;
}
